flask==2.3.3 speechrecognition==3.10.0 pyttsx3==2.90 requests==2.31.0 pyjokes==0.6.0 pyautogui==0.9.54 textblob==0.17.1 googletrans==3.1.0a0 beautifulsoup4==4.12.3 wikipedia-api==0.6.0 newsapi-python==0.2.7 aiohttp==3.9.5 cachetools==5.5.0
gunicorn==22.0.0

#pip install -r requirements.txt